* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
    transition: all .3s ease-out;
}


section {
    margin: 50px auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 150px);
    left: calc(50% - 205px);
}

.bar {
    background-color: #eee;
    border: 2px solid #aaa;
    width: 40px;
    border-radius: 15px;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.slider {
    height: 110%;
    width: 0px;
    box-shadow: none;
    overflow: hidden;
    float: right;
    align-items:inherit;
}

q {
    display: inline-block;
    color: #2980b9;
    font-size: 18px;
    width: 250px;
    padding: 0 10px;
}

div:last-of-type {
    border-radius: 0 10px 10px 0;
}

img {
    width: 110px;
}

span {
    display: block;
    width: 250px;
    margin: 10px 0;
}

h3 {
    transform: rotate(-90deg);
    white-space: nowrap;
}
span:last-of-type{
  margin:20px 0;
}
input:checked+div {
    width: 100%;
    box-shadow: 1px 0px 5px 1px #222;
}

.bar:hover {
    background-color: #aaa;
}

.products {
    border: 1px solid #ccc;
    height: 50%;
    overflow: scroll;
}
