
<div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
    <div class="panel-heading">
        <h4 class="panel-title">
            Handles
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">





            @foreach (var handle in Model.Handles)
            {
                <div class="list-group col-lg-2 col-md-2 col-sm-3">
                    <img src="~/Content/Images/Handles/@handle.Image" style="width:40%;height:40%;" /><br />
                    @handle.Name<br />
                    @handle.Weight gr
                    <p style="color:red; font-weight:bold;">@handle.Price SEK</p>
                </div>
            }



        </div>
    </div>
</div>