
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <h4 class="panel-title">

            Reel Seats

        </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
            @foreach (var reelseat in Model.ReelSeats)
            {
                <div class="list-group col-lg-2 col-md-2 col-sm-3">
                    <img src="~/Content/Images/ReelSeats/@reelseat.Image" style="width:120px;height:120px;" /><br />
                    @reelseat.Name<br />
                    @reelseat.Weight gr
                    <p style="color:red; font-weight:bold;">@reelseat.Price SEK</p>
                </div>
            }
        </div>
    </div>
</div>
                
