<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Summary
        </h4>
    </div>
    <div class="panel-body">
        <p>Summary of selected products</p>

    </div>

</div>

