@using CaseRod.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Start of collapse*@
    <div class="panel-group" id="accordion">        
        @Html.Partial("_Blades")
        @Html.Partial("_Handles")
        @Html.Partial("_ReelSeats")
    </div>                
@*End of collapse*@

@*Summary start*@
    @Html.Partial("_Summary")
@*Summary ends*@


