<label for="a" name="show" class="bar">
    <h3>Blades</h3>
</label>
<input id="a" name="show" type="radio" hidden="hidden" checked>
<div class="slider">
    <div class="products">
        @foreach (var blade in Model.Blades)
        {
            <button id=@blade.BladeID onclick="prdctclick(@blade.BladeID)">
                <img src="~/Content/Images/Blades/@blade.Image" style="width:100px;height:100px;" /><br />
                @blade.Name<br />
                @blade.Weight <br />
                <p style="color:red; font-weight:bold;">@blade.Price SEK</p>
            </button>
        }
    </div>
</div>