<label for="b" class="bar">
    <h3>Handles</h3>
</label>
<input id="b" name="show" type="radio" hidden="hidden">
<div class="slider">
    <div class="products">
        @foreach (var handle in Model.Handles)
        {
            <button>
                <img src="~/Content/Images/Handles/@handle.Image" style="width:120px;height:120px;" /><br />
                @handle.Name<br />
                @handle.Weight gr
                <p style="color:red; font-weight:bold;">@handle.Price SEK</p>
            </button>
        }
    </div>
</div>

