<label for="c" class="bar">
    <h3>Reelseats</h3>
</label>
<input id="c" name="show" type="radio" hidden="hidden">
<div class="slider">
    <div class="products">
        @foreach (var reelseat in Model.ReelSeats)
        {
            var ReelID = 10 + @reelseat.ID;
            
            <button class="button" id=@ReelID onclick="prdctclick(@ReelID)" style="background-color:white;">
                <img src="~/Content/Images/ReelSeats/@reelseat.Image" style="width:100px;height:100px;" /><br />
                @reelseat.Name<br />
                @reelseat.Weight gr
                <p style="color:red; font-weight:bold;">@reelseat.Price SEK</p>
            </button>
        }
    </div>        
</div>
