@model CaseRod.ViewModels.HomeViewModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

@foreach (var textitem in Model.Texts)
{
    if (textitem.TextID == 2)
    {
        @textitem.Content
    }
}



