@model CaseRod.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



@foreach (var textitem in Model.Texts)
{
    if (textitem.TextID == 3)
    {
        @textitem.Content
    }
}



