@model CaseRod.ViewModels.TextsViewModel

@{
    ViewBag.Title = "Contact";
}

<div style="background:white; padding:20px">
    <legend style="padding-bottom:20px">@ViewBag.Title</legend>
    <p>@Model.ContactText.Content</p>
</div>




