@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color: #f2f2f2">
    <div class="col-lg-12" style="padding: 0 10px 0 10px; margin-bottom:20px; ">
        <div style="height: 100%; width: 100%; background-color: white;">
            <img src="~/Content/Images/View/StartPage/Background.jpg" alt="Wide background" style="width: 100%; height: 50%" />
        </div>
    </div>

    <div class="col-lg-8 col-md-8" style="height: 400px; padding: 0 10px 0 10px; margin-bottom:20px;">
        <div style="height: 100%; width: 100%; background-color: white; box-shadow: 0 2px 15px rgba(0,0,0,0.1)">
            <p>Caserod will forfill all your flyfishing needs.</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-4" style="height: 400px; padding: 0 10px 0 10px; margin-bottom:20px;">
        <div style="height: 100%; width: 100%; background-image: url(../../Content/Images/View/StartPage/StartCreating.png); background-repeat: no-repeat; background-size: cover; background-color: white; box-shadow: 0 2px 15px rgba(0,0,0,0.1)">
            <a href=@Url.Action("Index", "Product")>
                <img src="~/Content/Images/View/StartPage/StartCreatingText.png" alt="Start creating your flyrod now." style="width: 90%; height: 10%" />
            </a>
        </div>
    </div>
</body>