@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Build and have fun!</p>
    <p>@Html.ActionLink("AccordionRodBuild!", "Accordion", "AccordionDesign", null, new { @class = "btn btn-primary" })</p>
</div>