@model IEnumerable<CaseRod.Models.Blade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>@ViewBag.Test</p>

@Html.ActionLink("Change your cookie", "ChangeCookie")